@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500&display=swap');

body{
    background-color: #e5e5e5;
}

.top{
    height: 140px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 56px;
    font-weight: 700;
    color: #75B79E;
}

.table{
    width: 910px;
    margin: 0 auto;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-left: 15px;
    
}

.card {
    width: 117px;
    height: 146px;
    display: flex;
    justify-content: center;
    transform-style: preserve-3d;
    transition: all 0.5s linear;
    position: relative;
    border-radius: 5px;
    margin-right: 31px;
    margin-bottom: 31px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.face {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    backface-visibility: hidden;
    color: black;
}
.front {
    background-color: #A7E9AF;
    border: solid 1 px #99CEA8;
    transform: rotateY(180deg);
}
.back {
    background-color: #A7E9AF;
    border: solid 1 px #99CEA8;
    cursor: pointer;
}
.back img {
    width: 100px;
    height: 100px;
    transition: all .5s linear;
}
.selected {
    transform: rotateY(180deg);
}
.fixed{
    transform: rotateY(180deg);
}

.card:hover{
    width: 125px;
    height: 156px;
    margin-right: 23px;
    margin-bottom: 21px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
}
.card:hover img{
    width: 108px;
    height: 110px;
}
.card.selected:hover{
    width: 117px;
    height: 146px;
    margin-right: 31px;
    margin-bottom: 31px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.card .front img{
    width: 100px;
    height: 100px;
} 
.selected:hover img{
    width: 100px;
    height: 100px;
} 
.card.fixed:hover{
    width: 117px;
    height: 146px;
    margin-right: 31px;
    margin-bottom: 31px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);    
}
.fixed:hover img{
        width: 100px;
        height: 100px;
    } 



@media (max-width: 910px) {
    .table{
        padding: 0;
        width: 100%;
    }
    
}
@media (max-width: 650px) {
    .top{
        text-align: center;
    }
    .card{
        margin: 30px 10px;
    }
    .table{
        justify-content: space-around;
    }
}
@media (max-width: 400px) {
    .top{ 
        padding-top: 20px;
    }
    .table{
        flex-direction: column;
        align-items: center;
    }
}